<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.vendas">

    <application
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="HardcodedDebugMode">
        <activity
            android:name=".activities.ActivityEditarCliente"
            android:label="Editar Cliente"/>
        <activity
            android:name=".activities.ActivityListarCliente"
            android:label="Lista de Clientes"/>
        <activity
            android:name=".activities.ActivityClientes"
            android:label="Cadastro de Clientes"/>
        <activity
            android:name=".activities.ActivityVendasConsolidadas"
            android:label="Minhas Vendas" />
        <activity
            android:name=".activities.ActivityEditarProdutos"
            android:label="Editar Produto" />
        <activity
            android:name=".activities.ActivityListarProdutos"
            android:label="Lista de Produtos" />
        <activity
            android:name=".activities.ActivityProduto"
            android:label="Cadastro de Produtos" />
        <activity android:name=".activities.ActivityVenda" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>